#user-page {
  .user-list {
    .c-icon {
      color: #000000;
      margin-right: 5px;
    }

    .lazy-container {
      height: 50px;
    }
  }

  .user-details-form {
    .user-form {
      width: 50%;
    }
  }
}